body {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    color: #00ff00; /* Bright green for hacker aesthetic */
}

.navbar {
    border-bottom: 2px solid #00ff00;
}

.card {
    border: 1px solid #00ff00;
}

footer {
    background-color: #000;
    color: #00ff00;
}

.list-group-item {
    border: 1px solid #00ff00;
}

.btn-primary {
    background-color: #00ff00;
    border: none;
}

.btn-primary:hover {
    background-color: #00cc00;
}

